{
    "openapi": "3.0.0",
    "info": {
        "title": "IDP Box",
        "description": "IDP Box API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.ipr.e-queo.xyz",
            "description": "Test server"
        }
    ],
    "tags": [
        {
            "name": "Base",
            "description": "01. Общие настройки"
        },
        {
            "name": "Auth",
            "description": "02. Аутенфикация"
        },
        {
            "name": "Feedback",
            "description": "03. Обратная связь"
        },
        {
            "name": "Users",
            "description": "04. Пользователи"
        },
        {
            "name": "Skills",
            "description": "05. Навыки"
        },
        {
            "name": "Targets",
            "description": "06. Цели"
        },
        {
            "name": "IDP",
            "description": "07. Индивидуальный план развития"
        },
        {
            "name": "Materials",
            "description": "08. Материалы"
        },
        {
            "name": "Employees",
            "description": "09. Сотрудники"
        },
        {
            "name": "Divisions",
            "description": "10. Организационная структура"
        },
        {
            "name": "Tasks",
            "description": "11. Асинхронные задачи"
        },
        {
            "name": "Files",
            "description": "12. Файлы"
        },
        {
            "name": "Notifications",
            "description": "13. Уведомления"
        }
    ],
    "paths": {
        "/configuration": {
            "get": {
                "security": [],
                "tags": [
                    "Base"
                ],
                "summary": "01.01. Получить конфигурацию компании",
                "description": "Получить конфигурацию компании",
                "operationId": "base.getConfiguration",
                "responses": {
                    "200": {
                        "description": "Объект конфигурации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.Configuration.Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Компания не найдена",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/login": {
            "post": {
                "security": [],
                "tags": [
                    "Auth"
                ],
                "summary": "02.01. Получение токенов по логину / паролю",
                "description": "Получение токенов по логину / паролю",
                "operationId": "auth.authByLoginAndPassword",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Auth.Login.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Успешная авторизация",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Auth.Login.SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибка авторизации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/refresh-token": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "security": [],
                "summary": "02.02. Обновление токенов",
                "description": "Обновление токенов",
                "operationId": "auth.refreshPairOfTokens",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Auth.RefreshToken.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Обновление токенов прошло успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Auth.Login.SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибка обновления токенов",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "summary": "02.03. Выход из профиля авторизации",
                "description": "Выход из профиля авторизации",
                "operationId": "auth.logout",
                "responses": {
                    "200": {
                        "description": "Выход из профиля прошёл успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.EmptySuccessResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Ошибка выхода из профиля (пользователь не был авторизован)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/reset-password/forgot-password": {
            "post": {
                "security": [],
                "tags": [
                    "Auth"
                ],
                "summary": "02.04. Запрос на восстановление пароля",
                "description": "Запрос на восстановление пароля",
                "operationId": "auth.resetPasswordForgotPassword",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Auth.ResetPassword.ForgotPassword.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Письмо со ссылкой для восстановления пароля отправлено успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Auth.ResetPassword.ForgotPassword.SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибки при попытке восстановления пароля",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/reset-password/check-token": {
            "post": {
                "security": [],
                "tags": [
                    "Auth"
                ],
                "summary": "02.05. Проверка токена для восстановления пароля",
                "description": "Проверка токена для восстановления пароля",
                "operationId": "auth.resetPasswordCheckToken",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Auth.ResetPassword.CheckToken.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Проверка выполнена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.EmptySuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибки при проверке кода",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/reset-password/save-new-password": {
            "post": {
                "security": [],
                "tags": [
                    "Auth"
                ],
                "summary": "02.06. Сохранение нового пароля",
                "description": "Сохранение нового пароля",
                "operationId": "auth.resetPasswordSaveNewPassword",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Auth.ResetPassword.SaveNewPassword.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Пароль успешно сохранен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.EmptySuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибки при сохранении пароля",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Auth.ResetPassword.SaveNewPassword.ErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/password-requirements": {
            "get": {
                "security": [],
                "tags": [
                    "Auth"
                ],
                "summary": "02.07. Получить список требований для паролей",
                "description": "Получить список требований для паролей",
                "operationId": "auth.getPasswordRequirements",
                "responses": {
                    "200": {
                        "description": "Список требований для паролей",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Auth.PasswordRequirements.SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/login-by-external-token": {
            "post": {
                "security": [],
                "tags": [
                    "Auth"
                ],
                "summary": "02.08. Авторизация по внешнему JWT",
                "description": "Авторизация по внешнему JWT, выданному 'Академией Equeo'",
                "operationId": "auth.authByExternalToken",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Auth.LoginByExternalToken.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Успешная авторизация",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Auth.Login.SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибка авторизации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/feedback": {
            "post": {
                "security": [],
                "tags": [
                    "Feedback"
                ],
                "summary": "03.01. Отправка сообщения в техподдержку",
                "description": "Отправка сообщения в техподдержку",
                "operationId": "feedback.sendFeedback",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Feedback.NewTicket.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Обращение создано успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.EmptySuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибки при создании обращения",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/profile": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Users"
                ],
                "summary": "04.01. Получить профиль текущего пользователя",
                "description": "Получить профиль текущего пользователя",
                "operationId": "users.getProfile",
                "responses": {
                    "200": {
                        "description": "Объект профиля пользователя",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Users.Profile.SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/skills/tree": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Skills"
                ],
                "summary": "05.01. Получить дерево навыков",
                "description": "Получить дерево навыков",
                "operationId": "skills.getTree",
                "parameters": [
                    {"$ref": "#/components/parameters/Employees.Query.Employee.Id"}
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Skills.Tree.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Дерево навыков",
                        "content": {
                            "application/json": {
                                "example": {
                                    "data": {
                                        "success": [
                                            {
                                                "type": "competency_cluster",
                                                "id": 1,
                                                "parent_id": null,
                                                "name": "Специализированные компетенции",
                                                "children": [
                                                    {
                                                        "type": "competency",
                                                        "id": 10,
                                                        "parent_id": 1,
                                                        "name": "Исследование",
                                                        "children": [
                                                            {
                                                                "type": "skill",
                                                                "id": 100,
                                                                "parent_id": 10,
                                                                "name": "Формулирую цель исследования, понимая, как это мне поможет в дальнейшем дизайн-решении",
                                                                "current_level_indicator_id": 1,
                                                                "required_level_indicator_id": 5,
                                                                "children": []
                                                            },
                                                            {
                                                                "type": "skill",
                                                                "id": 101,
                                                                "parent_id": 10,
                                                                "name": "Формулирую продуктовые гипотезы, которые будут проверены на исследовании",
                                                                "current_level_indicator_id": 1,
                                                                "required_level_indicator_id": 5,
                                                                "children": []
                                                            },
                                                            {
                                                                "type": "skill",
                                                                "id": 102,
                                                                "parent_id": 10,
                                                                "name": "Подгатавливаю гайд для проведения исследования",
                                                                "current_level_indicator_id": 1,
                                                                "required_level_indicator_id": 5,
                                                                "children": []
                                                            },
                                                            {
                                                                "type": "skill",
                                                                "id": 103,
                                                                "parent_id": 10,
                                                                "name": "Могу провести глубинное интервью целевой аудитории",
                                                                "current_level_indicator_id": 1,
                                                                "required_level_indicator_id": 5,
                                                                "children": []
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "type": "competency",
                                                        "id": 11,
                                                        "parent_id": 1,
                                                        "name": "Проектирование",
                                                        "children": [
                                                            {
                                                                "type": "skill",
                                                                "id": 110,
                                                                "parent_id": 11,
                                                                "name": "Какой-то навык, ID 110",
                                                                "current_level_indicator_id": 1,
                                                                "required_level_indicator_id": 5,
                                                                "children": []
                                                            },
                                                            {
                                                                "type": "skill",
                                                                "id": 111,
                                                                "parent_id": 11,
                                                                "name": "Какой-то навык, ID 111",
                                                                "current_level_indicator_id": 1,
                                                                "required_level_indicator_id": 5,
                                                                "children": []
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "type": "competency_cluster",
                                                "id": 2,
                                                "parent_id": null,
                                                "name": "Общие компетенции",
                                                "children": [
                                                    {
                                                        "type": "competency",
                                                        "id": 20,
                                                        "parent_id": 2,
                                                        "name": "Какая-то компетенция, ID 20",
                                                        "children": [
                                                            {
                                                                "type": "skill",
                                                                "id": 200,
                                                                "parent_id": 20,
                                                                "name": "Какой-то навык, ID 200",
                                                                "current_level_indicator_id": 1,
                                                                "required_level_indicator_id": 5,
                                                                "children": []
                                                            },
                                                            {
                                                                "type": "skill",
                                                                "id": 201,
                                                                "parent_id": 20,
                                                                "name": "Какой-то навык, ID 201",
                                                                "current_level_indicator_id": 1,
                                                                "required_level_indicator_id": 5,
                                                                "children": []
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "type": "competency",
                                                        "id": 21,
                                                        "parent_id": 2,
                                                        "name": "Какая-то компетенция, ID 21",
                                                        "children": [
                                                            {
                                                                "type": "skill",
                                                                "id": 210,
                                                                "parent_id": 21,
                                                                "name": "Какой-то навык, ID 210",
                                                                "current_level_indicator_id": 1,
                                                                "required_level_indicator_id": 5,
                                                                "children": []
                                                            },
                                                            {
                                                                "type": "skill",
                                                                "id": 211,
                                                                "parent_id": 21,
                                                                "name": "Какой-то навык, ID 211",
                                                                "current_level_indicator_id": 1,
                                                                "required_level_indicator_id": 5,
                                                                "children": []
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/Skills.Tree.SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/skills/{skill_id}": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Skills"
                ],
                "summary": "05.02. Получить детальную информацию о навыке",
                "description": "Получить детальную информацию о навыке",
                "operationId": "skills.getSkillDetails",
                "parameters": [
                    {"$ref": "#/components/parameters/Skills.Path.Skill.Id"},
                    {"$ref": "#/components/parameters/Employees.Query.Employee.Id"}
                ],
                "responses": {
                    "200": {
                        "description": "Детальная информация о навыке",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Skills.SkillDetails.SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/skills/{skill_id}/brief": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Skills"
                ],
                "summary": "05.03. Получить краткую информацию о навыке",
                "description": "Получить краткую информацию о навыке",
                "operationId": "skills.getSkillDetailsBrief",
                "parameters": [
                    {"$ref": "#/components/parameters/Skills.Path.Skill.Id"}
                ],
                "responses": {
                    "200": {
                        "description": "Краткая информация о навыке",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Skills.SkillDetailsBrief.SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/skills/level-indicators": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Skills"
                ],
                "summary": "05.04. Получить все возможные индикаторы навыков",
                "description": "Получить все возможные индикаторы навыков",
                "operationId": "skills.getLevelIndicators",
                "responses": {
                    "200": {
                        "description": "Список индикаторов",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Skills.LevelIndicators.SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/targets": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Targets"
                ],
                "summary": "06.01. Получить список целей",
                "description": "Получить список целей. Максимальное количество элементов - 1000.",
                "operationId": "targets.getCollection",
                "parameters": [
                    {"$ref": "#/components/parameters/Employees.Query.Employee.Id"}
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Targets.Collection.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Список целей",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Targets.Collection.SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/targets/{target_id}": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Targets"
                ],
                "summary": "06.02. Получить детальную информацию о цели",
                "description": "Получить детальную информацию о цели",
                "operationId": "targets.getTargetDetails",
                "parameters": [
                    {"$ref": "#/components/parameters/Targets.Path.Target.Id"}
                ],
                "responses": {
                    "200": {
                        "description": "Детальная информация о цели",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Targets.TargetDetails.SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Запрашиваемый объект не найден",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ObjectNotFoundErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/targets/{target_id}/update-status": {
            "put": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Targets"
                ],
                "summary": "06.03. Обновить статус цели",
                "description": "Обновить статус цели",
                "operationId": "targets.updateStatus",
                "parameters": [
                    {"$ref": "#/components/parameters/Targets.Path.Target.Id"}
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Targets.UpdateStatus.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Статус изменён успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.EmptySuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибки обновления статуса",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ObjectNotFoundOrValidationErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/targets/status-groups": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Targets"
                ],
                "summary": "06.04. Получить группы статусов целей",
                "description": "Получить группы статусов целей",
                "operationId": "targets.getStatusGroups",
                "parameters": [
                    {"$ref": "#/components/parameters/Employees.Query.Employee.Id"}
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Targets.GetStatusGroups.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Группы статусов",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Targets.GetStatusGroups.SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/targets/create": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Targets"
                ],
                "summary": "06.05. Создать цель",
                "description": "Создать цель",
                "operationId": "targets.createTarget",
                "parameters": [
                    {"$ref": "#/components/parameters/Employees.Query.Employee.Id"}
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Targets.Target.ToCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Цель создана успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.EmptySuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибки валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ValidationErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/targets/{target_id}/update": {
            "put": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Targets"
                ],
                "summary": "06.06. Обновить цель",
                "description": "Обновить цель",
                "operationId": "targets.updateTarget",
                "parameters": [
                    {"$ref": "#/components/parameters/Targets.Path.Target.Id"}
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Targets.Target.ToUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Цель обновлена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.EmptySuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибки при обновлении цели",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ObjectNotFoundOrValidationErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/targets/{target_id}/delete": {
            "delete": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Targets"
                ],
                "summary": "06.07. Удалить цель",
                "description": "Удалить цель",
                "operationId": "targets.deleteTarget",
                "parameters": [
                    {"$ref": "#/components/parameters/Targets.Path.Target.Id"}
                ],
                "responses": {
                    "200": {
                        "description": "Цель удалена успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.EmptySuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Запрашиваемый объект не найден",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ObjectNotFoundErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/targets/{target_id}/count-of-relations": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Targets"
                ],
                "summary": "06.08. Получить количество связанных объектов",
                "description": "Получить количество связанных объектов",
                "operationId": "targets.getCountOfRelations",
                "parameters": [
                    {"$ref": "#/components/parameters/Targets.Path.Target.Id"}
                ],
                "responses": {
                    "200": {
                        "description": "Количество связанных объектов",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Targets.CountOfRelations.SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Запрашиваемый объект не найден",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ObjectNotFoundErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/targets/{target_id}/skills": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Targets"
                ],
                "summary": "06.09. Получить выбранные навыки по ID цели",
                "description": "Получить выбранные навыки по ID цели",
                "operationId": "targets.getTargetSkills",
                "parameters": [
                    {"$ref": "#/components/parameters/Targets.Path.Target.Id"}
                ],
                "responses": {
                    "200": {
                        "description": "Список навыков",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Targets.TargetSkills.SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Запрашиваемый объект не найден",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ObjectNotFoundErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/targets/{target_id}/materials": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Targets"
                ],
                "summary": "06.10. Получить выбранные материалы по ID цели",
                "description": "Получить выбранные материалы по ID цели",
                "operationId": "targets.getTargetMaterials",
                "parameters": [
                    {"$ref": "#/components/parameters/Targets.Path.Target.Id"}
                ],
                "responses": {
                    "200": {
                        "description": "Список материалов",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Targets.TargetMaterials.SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Запрашиваемый объект не найден",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ObjectNotFoundErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/targets/{target_id}/materials/{material_id}": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Targets"
                ],
                "summary": "06.11. Получить выбранный материал по ID цели и ID материала",
                "description": "Получить выбранные материалы по ID цели",
                "operationId": "targets.getTargetMaterial",
                "parameters": [
                    {"$ref": "#/components/parameters/Targets.Path.Target.Id"},
                    {"$ref": "#/components/parameters/Materials.Path.Material.Id"}
                ],
                "responses": {
                    "200": {
                        "description": "Список материалов",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Targets.TargetMaterial.SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Запрашиваемый объект не найден",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ObjectNotFoundErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/targets/{target_id}/comments": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Targets"
                ],
                "summary": "06.12. Получить комментарии по ID цели",
                "description": "Получить комментарии по ID цели",
                "operationId": "targets.getTargetComments",
                "parameters": [
                    {"$ref": "#/components/parameters/Targets.Path.Target.Id"}
                ],
                "responses": {
                    "200": {
                        "description": "Список комментариев",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Targets.TargetComments.SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Запрашиваемый объект не найден",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ObjectNotFoundErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/targets/{target_id}/comments/leave": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Targets"
                ],
                "summary": "06.13. Оставить комментарий к цели",
                "description": "Оставить комментарий к цели",
                "operationId": "targets.leaveCommentOnTarget",
                "parameters": [
                    {"$ref": "#/components/parameters/Targets.Path.Target.Id"}
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Targets.LeaveCommentOnTarget.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Список комментариев",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.EmptySuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибки при оставлении комментария",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ObjectNotFoundOrValidationErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/targets/create-collection": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Targets"
                ],
                "summary": "06.14. Создать несколько целей",
                "description": "Создать несколько целей",
                "operationId": "targets.createTargetCollection",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Targets.Target.ToCreateCollection"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Цели созданы успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.EmptySuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибки валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ValidationErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idp": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "IDP"
                ],
                "summary": "07.01. Коллекция доступных сотруднику ИПР",
                "description": "Коллекция доступных сотруднику ИПР",
                "operationId": "idp.getCollection",
                "parameters": [
                    {"$ref": "#/components/parameters/Employees.Query.Employee.Id"}
                ],
                "responses": {
                    "200": {
                        "description": "Список ИПР",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Idp.GetIdpCollection.SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idp/default-route": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "IDP"
                ],
                "summary": "07.02. Получить маршрут по умолчанию",
                "description": "Получить маршрут по умолчанию",
                "operationId": "idp.getDefaultRoute",
                "responses": {
                    "200": {
                        "description": "Согласование, маршрут по умолчанию",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Idp.GetDefaultRoute.SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idp/{idp_id}": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "IDP"
                ],
                "summary": "07.03. Получить детальную информацию об ИПР",
                "description": "Получить детальную информацию об ИПР. Атрибуы count_of_targets, count_of_targets_done, price будут включены в ответ только если были указаны в query-параметре extra_attributes.",
                "operationId": "idp.getIdpDetails",
                "parameters": [
                    {"$ref": "#/components/parameters/Idp.Path.Idp.Id"},
                    {"$ref": "#/components/parameters/Base.Query.ExtraAttributes"}
                ],
                "responses": {
                    "200": {
                        "description": "Детальная информация об ИПР",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Idp.GetIdpDetails.SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Запрашиваемый объект не найден",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ObjectNotFoundErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idp/{idp_id}/access-rights": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "IDP"
                ],
                "summary": "07.04. Получить список прав по работе с ИПР",
                "description": "Получить список прав по работе с ИПР. В ответ также будут включены права по работе с последней попыткой (если такая есть).",
                "operationId": "idp.getIdpAccessRights",
                "parameters": [
                    {"$ref": "#/components/parameters/Idp.Path.Idp.Id"}
                ],
                "responses": {
                    "200": {
                        "description": "Список прав по работе с ИПР",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Idp.GetIdpAccessRights.SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Запрашиваемый объект не найден",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ObjectNotFoundErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idp/{idp_id}/approval/attempts": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "IDP"
                ],
                "summary": "07.05. Получить список попыток согласования ИПР",
                "description": "Получить список попыток согласования ИПР",
                "operationId": "idp.getApprovalAttempts",
                "parameters": [
                    {"$ref": "#/components/parameters/Idp.Path.Idp.Id"}
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Idp.GetApprovalAttempts.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Список попыток согласования",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Idp.GetApprovalAttempts.SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idp/{idp_id}/approval/attempts/start": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "IDP"
                ],
                "summary": "07.06. Запуск согласования",
                "description": "Запуск согласования",
                "operationId": "idp.startApprovalAttempt",
                "parameters": [
                    {"$ref": "#/components/parameters/Idp.Path.Idp.Id"}
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Idp.StartApprovalAttempt.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Согласование успешно запущено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.EmptySuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибки валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ValidationErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idp/{idp_id}/approval/attempts/{attempt_id}/cancel": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "IDP"
                ],
                "summary": "07.07. Отмена согласования",
                "description": "Отмена согласования. Выполняется инициатором.",
                "operationId": "idp.cancelApprovalAttempt",
                "parameters": [
                    {"$ref": "#/components/parameters/Idp.Path.Idp.Id"},
                    {"$ref": "#/components/parameters/Idp.Path.ApprovalAttempt.Id"}
                ],
                "responses": {
                    "200": {
                        "description": "Согласование успешно отменено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.EmptySuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибки",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idp/{idp_id}/approval/attempts/{attempt_id}/approve": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "IDP"
                ],
                "summary": "07.08. Согласовать этап маршрута",
                "description": "Согласовать этап маршрута. Если согласующий (авторизованный пользователь) присутствует в нескольких этапах, то будет обработан первый из несогласованных.",
                "operationId": "idp.approveStage",
                "parameters": [
                    {"$ref": "#/components/parameters/Idp.Path.Idp.Id"},
                    {"$ref": "#/components/parameters/Idp.Path.ApprovalAttempt.Id"}
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Idp.ApproveStageOrNot.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Согласование этапа прошло успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.EmptySuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибки",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idp/{idp_id}/approval/attempts/{attempt_id}/reject": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "IDP"
                ],
                "summary": "07.09. Отказать в согласовании этапа",
                "description": "Отказать в согласовании этапа. Если согласующий (авторизованный пользователь) присутствует в нескольких этапах, то будет обработан первый из несогласованных.",
                "operationId": "idp.rejectStage",
                "parameters": [
                    {"$ref": "#/components/parameters/Idp.Path.Idp.Id"},
                    {"$ref": "#/components/parameters/Idp.Path.ApprovalAttempt.Id"}
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Idp.ApproveStageOrNot.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Отказ в согласовании прошёл успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.EmptySuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибки",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idp/{idp_id}/approval/attempts/{attempt_id}/update-route": {
            "put": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "IDP"
                ],
                "summary": "07.10. Обновить маршрут согласования.",
                "description": "Обновить маршрут согласования.",
                "operationId": "idp.updateApprovalAttemptRoute",
                "parameters": [
                    {"$ref": "#/components/parameters/Idp.Path.Idp.Id"},
                    {"$ref": "#/components/parameters/Idp.Path.ApprovalAttempt.Id"}
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Idp.UpdateAttemptRoute.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Маршрут успешно обновлён. Возвращается объект попытки.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Idp.UpdateAttemptRoute.SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибки",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ObjectNotFoundOrValidationErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idp/{idp_id}/approval/attempts/{attempt_id}/access-rights": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "IDP"
                ],
                "summary": "07.11. Получить список прав по работе с попыткой",
                "description": "Получить список прав по работе с попыткой",
                "operationId": "idp.getAttemptAccessRights",
                "parameters": [
                    {"$ref": "#/components/parameters/Idp.Path.Idp.Id"},
                    {"$ref": "#/components/parameters/Idp.Path.ApprovalAttempt.Id"}
                ],
                "responses": {
                    "200": {
                        "description": "Список прав по работе с попыткой",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Idp.GetAttemptAccessRights.SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Запрашиваемый объект не найден",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ObjectNotFoundErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idp/{idp_id}/approval/approvers/search": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "IDP"
                ],
                "summary": "07.12. Поиск согласующих.",
                "description": "Поиск согласующих.",
                "operationId": "idp.searchForApprovers",
                "parameters": [
                    {"$ref": "#/components/parameters/Idp.Path.Idp.Id"}
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Idp.SearchForApprovers.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Список найденных пользователей",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Idp.SearchForApprovers.SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idp/years-of-all-employees": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "IDP"
                ],
                "summary": "07.13. Получить все возможные года, которые есть в ИПР сотрудников",
                "description": "Получить все возможные года, которые есть в ИПР сотрудников",
                "operationId": "idp.getYearsOfAllEmployees",
                "responses": {
                    "200": {
                        "description": "Года ИПР",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Idp.GetYearsOfAllEmployees.SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idp/create": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "IDP"
                ],
                "summary": "07.14. Создать ИПР",
                "description": "Создать ИПР",
                "operationId": "idp.createIdp",
                "parameters": [
                    {"$ref": "#/components/parameters/Employees.Query.Employee.Id"}
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Idp.Idp.ToCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ИПР успешно создан",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Idp.CreateIdp.SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибки валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ValidationErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idp/{idp_id}/delete": {
            "delete": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "IDP"
                ],
                "summary": "07.15. Удалить ИПР",
                "description": "Удалить ИПР",
                "operationId": "idp.deleteIdp",
                "parameters": [
                    {"$ref": "#/components/parameters/Idp.Path.Idp.Id"}
                ],
                "responses": {
                    "200": {
                        "description": "ИПР успешно удалён",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.EmptySuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Запрашиваемый объект не найден",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ObjectNotFoundErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idp/create-collection": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "IDP"
                ],
                "summary": "07.16. Создать несколько ИПР",
                "description": "Создать несколько ИПР",
                "operationId": "idp.massCreateIdp",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Idp.IdpCollection.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Коллекция ИПР успешно создана",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.EmptySuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибки валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ValidationErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idp/check-if-approval-is-available": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "IDP"
                ],
                "summary": "07.17. Можно ли согласовать ИПР для нескольких сотрудников",
                "description": "Можно ли согласовать ИПР для нескольких сотрудников",
                "operationId": "idp.checkIfApprovalIsAvailable",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Idp.IdpCollection.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Список ID сотрудников",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Idp.Idp.CheckIfAttemptActionIsAvailable.SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибки валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ValidationErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idp/approve-collection": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "IDP"
                ],
                "summary": "07.18. Согласовать ИПР для нескольких сотрудников",
                "description": "Согласовать ИПР для нескольких сотрудников",
                "operationId": "idp.approveCollection",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Idp.IdpCollection.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Объект асинхронной задачи, в рамках которой будет проходить согласование ИПР",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Idp.IdpCollection.SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибки валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ValidationErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idp/check-if-rejection-is-available": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "IDP"
                ],
                "summary": "07.19. Можно ли отправить на доработку ИПР для нескольких сотрудников",
                "description": "Можно ли отправить на доработку ИПР для нескольких сотрудников",
                "operationId": "idp.checkIfRejectionIsAvailable",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Idp.IdpCollection.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Список ID сотрудников",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Idp.Idp.CheckIfAttemptActionIsAvailable.SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибки валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ValidationErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idp/reject-collection": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "IDP"
                ],
                "summary": "07.20. Отправить на доработку ИПР для нескольких сотрудников",
                "description": "Отправить на доработку ИПР для нескольких сотрудников",
                "operationId": "idp.rejectCollection",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Idp.IdpCollection.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ИПР будут отправлены на доработку в ближайшее время",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.EmptySuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибки валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ValidationErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idp/generate-reports": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "IDP"
                ],
                "summary": "07.21. Сформировать отчёты",
                "description": "Сформировать отчёты",
                "operationId": "idp.generateReports",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Idp.GenerateReports.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Запрос на формирование отчётов принят",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Idp.GenerateReports.SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ошибки валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Base.ValidationErrorCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/materials/tree": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Materials"
                ],
                "summary": "08.01. Получить дерево материалов",
                "description": "Получить дерево материалов",
                "operationId": "materials.getTree",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Materials.Tree.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Дерево материалов",
                        "content": {
                            "application/json": {
                                "example": {
                                    "data": {
                                        "success": [
                                            {
                                                "type": "category",
                                                "id": 1,
                                                "parent_id": null,
                                                "name": "Курсы",
                                                "children": [
                                                    {
                                                        "type": "category",
                                                        "id": 10,
                                                        "parent_id": 1,
                                                        "name": "Эквио",
                                                        "children": [
                                                            {
                                                                "type": "material",
                                                                "id": 100,
                                                                "parent_id": 10,
                                                                "name": "Курс 'Профессия дизайнер'",
                                                                "is_paid": false,
                                                                "skills": [
                                                                    {
                                                                        "id": 123,
                                                                        "name": "Навык 123"
                                                                    },
                                                                    {
                                                                        "id": 456,
                                                                        "name": "Навык 456"
                                                                    }
                                                                ],
                                                                "children": []
                                                            },
                                                            {
                                                                "type": "material",
                                                                "id": 101,
                                                                "parent_id": 10,
                                                                "name": "Курс 'Основы дизайн мышления'",
                                                                "is_paid": false,
                                                                "skills": [
                                                                    {
                                                                        "id": 123,
                                                                        "name": "Навык 123"
                                                                    },
                                                                    {
                                                                        "id": 456,
                                                                        "name": "Навык 456"
                                                                    }
                                                                ],
                                                                "children": []
                                                            },
                                                            {
                                                                "type": "material",
                                                                "id": 102,
                                                                "parent_id": 10,
                                                                "name": "Курс 'Дизайн исследования'",
                                                                "is_paid": true,
                                                                "skills": [
                                                                    {
                                                                        "id": 123,
                                                                        "name": "Навык 123"
                                                                    },
                                                                    {
                                                                        "id": 456,
                                                                        "name": "Навык 456"
                                                                    }
                                                                ],
                                                                "children": []
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "type": "category",
                                                        "id": 11,
                                                        "parent_id": 1,
                                                        "name": "SkillBox",
                                                        "children": [
                                                            {
                                                                "type": "material",
                                                                "id": 110,
                                                                "parent_id": 11,
                                                                "name": "Какой-то материал, ID 110",
                                                                "is_paid": true,
                                                                "skills": [
                                                                    {
                                                                        "id": 123,
                                                                        "name": "Навык 123"
                                                                    },
                                                                    {
                                                                        "id": 456,
                                                                        "name": "Навык 456"
                                                                    }
                                                                ],
                                                                "children": []
                                                            },
                                                            {
                                                                "type": "material",
                                                                "id": 111,
                                                                "parent_id": 11,
                                                                "name": "Какой-то материал, ID 111",
                                                                "is_paid": true,
[...]
